<h3>Reservation:</h3>
    Checking in:
    <%= @reservation.start_date %><br/>
    Checking out:
    <%= @reservation.end_date %><br/>
    Paid:
    RM<%= @reservation.total_price %><br/>
</div><br/>
