<%= button_to "My Listings",listings_path(current_user), method: :get %>

<div class="container">
    <h2><%= @user.first_name %>
        <%= @user.last_name %></h2><br />

<%= button_to "Edit Profile", edit_user_path(current_user), method: :get %>
</div>
